on:
  push:
    branches:
      - main

jobs:
  test_actions_job:
    name: A job to test our action
    runs-on: ubuntu-latest

    steps:
      - name: Generate biotools entry
        id: generate_biotools
        uses: spco/bio-tools-action@v1.5.7
        with:
          repo_id: "test-repo-for-actions"
          owner_id: "spco"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
