on:
  push:
    branches:
      - main

jobs:
  test_actions_job:
    name: A job to test our action
    runs-on: ubuntu-latest

    steps:
      - name: install bridge CLI
        id: install-bridge
        run: |
          git clone https://github.com/bio-tools/biohackathon2025.git
          cd biohackathon2025

          # install (all groups)
          poetry install
      - name: Test action step
        id: testing
        uses: spco/bio-tools-action@v1.4
        with:
          repo_id: "test-repo-for-actions"
          owner_id: "spco"

      # Use the output from the `hello` step
      - name: Get the output url
        run: echo "The url was ${{ steps.testing.outputs.url }}"
